@use'../base/variables' as v;
@use'../base/mixins' as m;
.galeria {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.medidas {
    margin-top: 3rem;
    width: 100%;
    margin-bottom: 3rem;
}

.carousel-item {
    border-radius: 1.2rem;
    img {
        border-radius: 1.2rem;
    }
}